{% extends 'index.html' %}
{% block body %}
<p style="padding:50px; font-size:20px; line-height:50px;">

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; META Bank Limited is an Indian multinational bank and financial services company headquartered in Mumbai. It offers a wide range of banking products and financial services for corporate and retail customers through a variety of delivery channels and specialized subsidiaries in the areas of investment banking, life, non-life insurance, venture capital and asset management.

This development finance institution has a network of 5,275 branches and 15,589 ATMs across India and has a presence in 17 countries. The bank has subsidiaries in the United Kingdom and Canada; branches in United States, Singapore, Bahrain, Hong Kong, Qatar, Oman, Dubai International Finance Centre, China and South Africa; as well as representative offices in United Arab Emirates, Bangladesh, Malaysia and Indonesia. The company's UK subsidiary has also established branches in Belgium and Germany.
    </p><br>

{% load static %}
<style>
.fit-picture {
    width: 1500px;
    height:500px;
}
</style>
<center>
<img class="fit-picture" src="{% static 'images/banner.jpg' %}">
    </center><br><br>
<p style="padding:50px; font-size:20px; line-height:50px;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Industrial Credit and Investment Corporation of India  was a government institution established on 5 January 1955 and Sir Arcot Ramasamy Mudaliar was elected as the first Chairman of META Ltd. It was structured as a joint-venture of the World Bank, India's public-sector banks and public-sector insurance companies to provide project financing to Indian industry. META Bank was established by Society, as a wholly owned subsidiary in 1994 in Vadodara. The bank was founded as the Industrial Credit and Investment Corporation of India Bank, before it changed its name to META Bank. The parent company was later merged with the bank.
</p><br>

<p style="padding:50px; font-size:20px; line-height:50px;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In the 1990s, META transformed its business from a development financial institution offering only project finance to a diversified financial services group, offering a wide variety of products and services, both directly and through a number of subsidiaries and affiliates like META Bank. META Bank launched Internet Banking operations in 1998.<br>

META's shareholding in META Bank was reduced to 46% through a public offering of shares in India in 1998, followed by an equity offering in the form of American depositary receipts on the NYSE in 2000. META Bank acquired the Bank of Madura Limited in an all-stock deal in 2001 and sold additional stakes to institutional investors during 2001–02. In 1999, META become the first Indian company and the first bank or a financial institution from non-Japan Asia to be listed on the NYSE.
</p><br>

<center>
<img class="fit-picture" src="{% static 'images/banner2.jpg' %}">
    </center><br><br>
{% endblock %}