{% extends 'index.html' %}
{% block body %}
<br>
<center>
<h3 style="color:red;"><u>Kollam district</u></h3></center>
<br><br>
    <p style="padding:50px; font-size:20px; line-height:50px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kollam district,is one of 14 districts of the state of Kerala, India. The district has a cross-section of Kerala's natural attributes; it is endowed with a long coastline, a major Laccadive Sea seaport and an inland lake (Ashtamudi Lake). The district has many water bodies. Kallada River is one among them, and the east side land of river is East Kallada and the west side land is West Kallada.
Kallada Boat race is one of the famous festival events of the district. Even though it is a competition between two land sides of the river, many boat clubs from various places, even beyond the district participate in the event. Kollam is the capital of Kerala's cashew industry. Plains, mountains, lakes, lagoons, and backwaters, forests, farmland and rivers make up the topography of the district. The area had trading relationships with Phoenicia and Ancient Rome. Kollam's temperature is almost steady throughout the year. The average temperature ranges from 25 to 32 degrees Celsius. Summer usually runs from March until May; the monsoon begins by June and ends by September. Kollam receives an annual average rainfall of around 2,700 millimetres.
        It receives both southwest and northeast monsoons. Winter is from November to February; the temperature is moderately cool, ranging from 18 to 25 degrees Celsius.
 </p><br><br>
{% load static %}
<style>
.fit-picture {
    width: 1500px;
    height:500px;
}
</style>
<center> <h3 style="color:red;"><u>Major cities & towns</u></h3>
<img class="fit-picture" src="{% static 'images/aabbcc.jpg' %}">
    </center><br><br>

<p style="padding:50px; font-size:20px; line-height:50px;">

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Jadayu earth centre, Palaruvi Falls, Thenmala (forests and reservoir), the Agasthyamalai Biosphere Reserve, Ashtamudi (backwater) and beaches at Kollam, Thirumullavaram and Thangassery are scenic areas.

Ashramam Tourist Village is a well-known tourist destination in Kollam city; the tourist village is located on the banks of Ashtamudi Lake. Ashramam is a hub of tourism activities in Kollam, and the District Tourism Promotion Council (DTPC) office is located within the village.

The Asramam Maidan (Ashramam ground), adjacent to the tourist village, is the largest open space within a Kerala municipal corporation. It is used for events, sports, as a helipad, for Kollam Pooram and by driving schools. It covers over 60 acres in an oval.

Entrance to low building with four white columns, triangular roof and blue sign
Kottarakkara Palace
Rustic, gray suspension bridge over a river
Suspension bridge at Thenmala
The first community tourism program in the state is being established on the Munroethuruth islands. Backwater tourism is an activity enjoyed in Kollam; Ashtamudi Lake, Paravur, Munroe Island, and Alumkadavu are the main backwater destinations. Accommodation is in resorts and on houseboats.

Thenmala, located 66 kilometres  east of Kollam, is the first ecotourism project in India and run by the Thenmala Ecotourism Promotion Society.

Kollam was the seat of the Desinganad kings. Kottarakara is well known as the place where a new version of the classical dance form of Kathakali was conceived. It was also the capital of the Elayidath Swaroopam. Kundara is known for the 1812 proclamation against the British by Velu Thampi Dalawa.[31]

Alappad village, located on the seashore, was impacted by the 2004 Indian Ocean earthquake and tsunami. Varkala Beach (also known as Papanasham) is 26 kilometres south of Kollam. The Duriyodana Temple is in Kunnathur Taluk. The Sakthikulangara Dharma Sastha Temple-Sree Ayyappa Swamy Temple is known for its Utsavam in the month of Makaram (between mid-January and mid-February).

Polachira, in Chirakkara Gramapanchayat, is a sightseeing destination. The Anathavalam is near here where one can see domestic elephants, touch and ride them. Mannathippara is at Polachira, 4 kilometres (2.5 mi) south of Chathannoor. Sasthamcotta Lake, about 19 kilometres (12 mi) from Kollam, is the largest freshwater lake in Kerala and a domestic tourist destination. Jetayu Para, a large boulder, is located in Chadayamangalam; it is named for a mythical character in the Ramayana. It is believed that Jatayu fell here, after his failed attempt to stop Ravana.
</p><br>


        {% endblock %}