{% extends 'index.html' %}
{% block body %}
<br>
<center>
<h3 style="color:red;"><u>Pathanamthitta district</u></h3></center>
<br><br>
    <p style="padding:50px; font-size:20px; line-height:50px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pathanamthitta District , is one of the 14 districts in the Indian state of Kerala. The district headquarters is in the town of Pathanamthitta. There are four municipalities in Pathanamthitta: Adoor, Pandalam, Pathanamthitta and Thiruvalla.

According to the 2011 Census of India, the population was 1,197,412, making it the third least populous district in Kerala (out of 14), after Wayanad and Idukki. Pathanamthitta has been declared the first polio-free district in India. The district is 10.03% urbanised. Pathanamthitta is one of the richest districts in India with just 1.17% poverty as of 2013, which places the district among top 5 districts in India with least poverty.
        It is presumed that the regions that form the district were formerly under the rule of Pandalam, which had connections with the Pandya kingdom. When Pandalam was added to the princely state of Travancore in 1820, the region came under Travancore administration. The Nedumpuram Palace near Thiruvalla belongs to Valluvanad Royal family, who were originally the rulers of Angadippuram in present-day Malappuram district.[citation needed]

The district was formed on 1 November 1982 as a reward to K. K. Nair, who was the then Pathanamthitta MLA, by K. Karunakaran. The formation was done by incorporating various portions of the erstwhile Kollam, Alappuzha and Idukki districts. While the taluks Pathanamthitta, Adoor, were taken from Kollam district, Ranni, Konni and Kozhencherry from Idukki district, Pandalam and Thiruvalla were taken from Alappuzha district.

        </p>


<p style="padding:50px; font-size:20px; line-height:50px;">

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pathanamthitta district has a reserve forest area of 1,385.27 square kilometres (534.86 sq mi). This is approximately 50% of the total district area. The forest area can broadly be classified as evergreen, semi-evergreen and moist deciduous. The forest is the main source of raw materials for wood based industrial units. Timber is the most important produce.
    Three important rivers flow through the district. These rivers originate from various mountains of the Western Ghats mountain range. The Pamba , which is the third longest river in Kerala, has its origin in Pulachimala. The Achankovil river originates from Pasukida Mettu, and Manimala river (90 km or 56 mi) originates from the Thattamalai hills. A small portion of Kallada river also falls in the southern border of the district. Pamba, Achankovil and Manimala rivers together drain more than 70% of the total area of Pathanamthitta.
    </p>


<p style="padding:50px; font-size:20px; line-height:50px;">

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; According to the 2011 census Pathanamthitta district has a population of 1,197,412 roughly equal to the nation of Timor-Leste or the US state of Rhode Island. This gives it a ranking of 399th in India (out of a total of 640). The district has a population density of 453 inhabitants per square kilometre (1,170/sq mi). Its population growth rate over the decade 2001–2011 was −3.12%. Pathanamthitta has a sex ratio of 1129 females for every 1000 males and a literacy rate of 96.93%. Scheduled Castes and Scheduled Tribes make up 13.74% and 0.68% of the population respectively.

Languages of Pathanamthitta district (2011)<br>

  Malayalam (99.13%)<br>
  Others (0.87%)<br>
Malayalam is the predominant language, spoken by 99.13% of the population. Small minorities of Tamil speakers live in urban areas.[24]

According to the Census of India 2001, the district had a population of 1,234,016 with a density of 467 persons per square kilometre. This is the lowest density in the State after Idukki and Wayanad. Schedule tribes and castes comprise 13% of the total population. The female to male ratio is 1094:1000, which is the highest among the districts in the State.
    </p><br>



{% endblock %}